[submodule "BlogGenerator/theme"]
	path = BlogGenerator/theme
	url = https://github.com/Ovis/HitsujinBlogTheme.git
[submodule "BlogGenerator/input"]
	path = BlogGenerator/input
	url = https://github.com/Ovis/blog.hitsujin.jp.article.git
